[Unit]
Description=Periodically check for low battery

[Timer]
# Every 2 minutes
OnCalendar=*:0/2
Unit=run@battery-check.service

[Install]
WantedBy=timers.target
