[Unit]
Description=EasyEffects Audio Processing Service
ConditionPathExists=/usr/bin/easyeffects
After=graphical-session.target pipewire.service

[Service]
ExecStart=/usr/bin/easyeffects --gapplication-service
Restart=on-failure

[Install]
WantedBy=default.target
