[Unit]
Description=EasyEffects audio processing service
ConditionPathExists=/usr/bin/easyeffects
After=pipewire.service

[Service]
ExecStart=/usr/bin/easyeffects --gapplication-service --load-preset=dynamic-range-compression
Restart=on-failure

[Install]
WantedBy=default.target
