[Unit]
Description=Mako notification daemon
ConditionPathExists=/usr/bin/mako
After=graphical-session.target
PartOf=niri.service

[Service]
ExecStart=/usr/bin/mako

[Install]
WantedBy=niri.service
