[Unit]
Description=Maintain Chromium extensions unavailable in the Chrome Web Store

[Service]
Type=oneshot
ExecStart=/bin/sh ${HOME}/bin/prepare-chromium-ext.sh
