[Unit]
Description=Periodically maintain Chromium extensions unavailable in the Chrome Web Store

[Timer]
OnCalendar=daily
Unit=run@prepare-chromium-ext.service

[Install]
WantedBy=timers.target
