[Unit]
Description=Simple X hotkey daemon
ConditionPathExists=/usr/bin/sxhkd
After=graphical-session.target

[Service]
ExecStart=/usr/bin/sxhkd
Restart=on-failure

[Install]
WantedBy=default.target
