[Unit]
Description=Periodically re-compile most recent Vim checkout

[Timer]
OnCalendar=weekly
RandomizedOffsetSec=1w
AccuracySec=1d
Persistent=true
Unit=run@update-vim.service

[Install]
WantedBy=timers.target
