[submodule "home/config/nvim"]
	path = home/config/nvim
	url = git@github.com:ccjmne/nvim
[submodule "home/config/vim/pack/external/start/vim-fugitive"]
	path = home/config/vim/pack/external/start/vim-fugitive
	url = gh:tpope/vim-fugitive
