@define-color text      #cdd6f4;
@define-color overlay2  #9399b2;
@define-color surface1  #45475a;
@define-color surface0  #313244;
@define-color base      #1e1e2e;

window {
    font-family: 'CommitMono Nerd Font Propo';
    background:  @base;
    color:       @text;
}

.module {
    padding: .2rem 1rem;
}

#tray *:not(first-child) {
    padding-left: 5px;
}

#custom-bdo.imminent {
    animation: blink 1s ease-in-out alternate infinite;
}

@keyframes blink {
    100% { color: transparent }
}
