window {
    font-family: 'CommitMono Nerd Font Propo';
    background:  #1e1e2e;
    color:       #cdd6f4;
}

.module {
    padding: .2rem 1rem;
}

#tray *:not(first-child) {
    padding-left: 5px;
}
