@import url("style.css");

@define-color text     #4c4f69;
@define-color overlay2 #7c7f93;
@define-color surface1 #bcc0cc;
@define-color surface0 #ccd0da;
@define-color base     #eff1f5;

#custom-bdo.imminent {
    animation-name: blink-light;
}

@keyframes blink-light {
    50% {
        background: @base;
        color:      @text;
    }
    100% {
        font-weight: bold;
        background:  @text;
        color:       @base;
    }
}
