include "controls.kdl"
include "layout.kdl"

spawn-at-startup "nm-applet" "--indicator"
prefer-no-csd // Omit client-side decorations if possible
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
hotkey-overlay { skip-at-startup; }

animations {
    slowdown 0.5
    window-open  { duration-ms 300; }
    window-close { duration-ms 300; }
}

recent-windows {
    highlight {
        padding 0
    }
    binds {
        Alt+Tab         { next-window                     scope="output"; }
        Alt+Shift+Tab   { previous-window                 scope="output"; }
        Alt+Grave       { next-window     filter="app-id" scope="output"; }
        Alt+Shift+Grave { previous-window filter="app-id" scope="output"; }
        Mod+Tab         { next-window                     scope="all"; }
        Mod+Shift+Tab   { previous-window                 scope="all"; }
        Mod+Grave       { next-window     filter="app-id" scope="all"; }
        Mod+Shift+Grave { previous-window filter="app-id" scope="all"; }
    }
}

debug {
    honor-xdg-activation-with-invalid-serial
}
