input {
    keyboard {
        numlock // numlock on start-up
    }
    touchpad {
        tap
        natural-scroll
    }
    warp-mouse-to-focus
}

gestures {
    hot-corners {
        off
    }
}
