input {
    keyboard {
        numlock
    }
    touchpad {
        tap
        natural-scroll
    }
    warp-mouse-to-focus mode="center-xy-always"
}

gestures {
    hot-corners {
        off
    }
}
