[Unit]
Description=mouseless service
ConditionPathExists=/usr/bin/mouseless
After=graphical-session.target

[Service]
SupplementaryGroups=input uinput
ExecStart=/usr/bin/mouseless
Restart=on-failure

[Install]
WantedBy=default.target
