[Desktop Entry]
Name=Neovim (through Ghostty)
Comment=Edit files in Neovim through Ghostty
Exec=ghostty -e nvim -- %F
Type=Application
Terminal=true
Categories=Utility;TextEditor;
Icon=nvim
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
StartupNotify=true
